{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 1,
        "jsx-uses-vars": true,
        "no-undef": 1,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "max-len": [1, 80, 4],
        "no-alert": 0,
        "curly": [1, "multi-line"]
    }
}
