<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Bookclubz.backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>bin/backups/sync_backups.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/fitvalet/Sites/dj/bookclubz/bin/backups/stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/fitvalet/Sites/dj/bookclubz/bin/backups/stdout</string>
	<key>StartInterval</key>
	<integer>86400</integer>
	<key>WorkingDirectory</key>
	<string>/Users/fitvalet/Sites/dj/bookclubz</string>
</dict>
</plist>
